<h1> Artists</h1>

<ul>
  <% @artists.each do |a| %>
    <li><%= a.name %></li>
    <li><%= pluralize(a.song_count, 'song') %></li>
    <% a.songs.each do |s| %>
        <li><%= link_to s.title, artist_path(a) %></li>
    <% end %>
    <% end %>
</ul>